.map-container{
    height: 100vh;
    width: 100vw;
}

.marker {
    background: url('./ISS_spacecraft_model_icon.png');
    background-size: cover;
    position: absolute;
    z-index: 1000;
    width: 120px;
    height: 55px;
    border-radius: 50%;
    background-color: red;
  }